[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-script = "*"
flask-restful = "*"
webargs = "*"
flask-graphql = "*"
graphene = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-bcrypt = "*"
graphene-sqlalchemy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.6"
